SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3306/ddoya?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
JWT_SECRET=YOUR_SUPER_SECRET_KEY_MUST_BE_MINIMUM_32_CHARACTERS_LONG
S3_ENABLED=false
